$size-side-elmt: 19%;
$margin: 1%;
$margin-bottom: 10px;
$color: lightgrey;

section {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#viewer {
  flex: 1;
  display: flex;
  flex-direction: row;
}


#action {
  width: $size-side-elmt;
  margin-left: $margin;
  margin-bottom: $margin-bottom;
  background-color: $color;
}

#inspector {
  width: $size-side-elmt;
  box-shadow: 10px 10px 16px darkgray;
  background-color: $color;
  margin-bottom: $margin-bottom;
  margin-right: $margin;
  position: relative;
  display: flex;
  flex-direction: column;
}
